@import url("../css/bootstrap.css");

.start {
    background-image: url(../assets/backgrounds/h_img.jpg);
    display: block;
    background-size: cover;
    text-align: center;
    color: white;
}

.aboutUs {
    text-align: center;
}

.services {
    text-align: center;
    background-image: url("../assets/backgrounds/s_image.jpg");
    color: white;
}