@import url("../css/bootstrap.css");

.start {
    background-image: url("../assets/backgrounds/h_img.jpg");
    display: block;
    background-size: cover;
    text-align: center;
    color: white;
}

.aboutUs {
    text-align: center;
}

.services {
    text-align: center;
    background-image: url("../assets/backgrounds/s_image.jpg");
    color: white;
}
.wwd {
    text-align: center;
}

.noShow {
    display: none;
}

.portfolio {
    text-align: center;
    width: 100%;
    
}

.card {
    padding: 10px;
    border: 0;
}

.hover {
    opacity:0;
    background-color:  rgba(255, 255, 255, 0.623);
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%; 
    text-align: center;
  }

.row {
    padding: 2px;
}

.contactUs {
    text-align: center;
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-size:cover;
    color: white;
    display: cover;
    padding: 10%;
}
input[type=text], input[type=email], textarea[type=text], input[type=submit] {
    background: transparent;
    color: white;
}
